NYC311_API_ENDPOINT=https://data.cityofnewyork.us/api/v3/views/erm2-nwe9/query.json
NYC311_APP_TOKEN=replace_with_app_token
NYC311_SECRET_TOKEN=replace_with_secret_token
NYC311_PAGE_SIZE=50000
NYC311_MAX_PAGES=5

